<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pemandu</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

<div class="p-5 bg-primary text-white text-center">
  <img src="https://www.7oaks.org/Programs/ArtsInThePark/PublishingImages/karaoke.png" style="width: 20%;" alt="">
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container col-auto">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="index.html">PEMANDU</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="pendaftaran.html">PENDAFTARAN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="pembayaran.html">PEMBAYARAN</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-5">
  <div class="row">
 



<div id="app">

    <div class="container mt-3">
      
      
    </div> 
    <!-- The Modal -->
    <div class="modal fade" id="createUserModalCenter" tabindex="-1" role="dialog" aria-labelledby="createUserModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="createUserModalLongTitle">Form User</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">
            <form>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="nama">Nama</label>
                  <input v-model="nama" type="text" class="form-control" id="nama" placeholder="" value="" required>
                </div>
              </div>
              <div class="mb-3">
                <label for="no_ktp">no_ktp</label>
                <div class="input-group">
                  <input v-model="no_ktp" type="text" class="form-control" id="no_ktp" placeholder="no_ktp" required>
                </div>
              </div>
              <div class="mb-3">
                <label for="no_hp">no_hp</label>
                <div class="input-group">
                  <input v-model="no_hp" type="text" class="form-control" id="no_hp" placeholder="no_hp" required>
                </div>
              </div>
              <div class="mb-3">
                <label for="biayajam">biayajam</label>
                <div class="input-group">
                  <input v-model="biayajam" type="text" class="form-control" id="biayajam" placeholder="biayajam"
                    required>
                </div>
              </div>
              <div class="mb-3">
                <label for="alamat">alamat</label>
                <div class="input-group">
                  <input v-model="alamat" type="text" class="form-control" id="alamat" placeholder="alamat"
                    required>
                </div>
              </div>
            </form>
          </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-dark" data-bs-dismiss="modal" v-on:click="createUser" >submit</button>

            <!-- <button v-if="!editMode && !deleteMode" v-on:click="createUser" class="btn btn-primary btn-lg btn-block" type="submit">Submit Data</button>
            <button v-if="editMode" v-on:click="updateUser" class="btn btn-warning btn-lg btn-block" type="submit">Update Data</button>
            <button v-if="deleteMode" v-on:click="deleteUser" class="btn btn-danger btn-lg btn-block" type="submit">Delete Data</button> -->
          </div>
    
        </div>
      </div>
    </div>



<!-- Modal update -->
<div class="modal fade" id="updateUserModalCenter" tabindex="-1" aria-labelledby="updateUserModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateUserModalCenterTitle">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="nama">Nama</label>
              <input v-model="nama" type="text" class="form-control"  placeholder="" value="" required>
            </div>
          </div>

          <div class="mb-3">
            <label for="no_ktp">no_ktp</label>
            <div class="input-group">
              <input v-model="no_ktp" type="text" class="form-control"  placeholder="no_ktp" required>
            </div>
          </div>
          <div class="mb-3">
            <label for="no_hp">no_hp</label>
            <div class="input-group">
              <input v-model="no_hp" type="text" class="form-control" placeholder="no_hp" required>
            </div>
          </div>
          <div class="mb-3">
            <label for="biayajam">biayajam</label>
            <div class="input-group">
              <input v-model="biayajam" type="text" class="form-control" placeholder="biayajam"  required>
            </div>
          </div>
          <div class="mb-3">
            <label for="alamat">alamat</label>
            <div class="input-group">
              <input v-model="alamat" type="text" class="form-control" id="alamatUpdate" placeholder="alamat" required>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
    
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-dark" data-bs-dismiss="modal" v-on:click="updateUser">update </button>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="deleteUserModalCenter" tabindex="-1" aria-labelledby="deleteUserModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteUserModalCenterTitle">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">no</button>
            <button type="submit" class="btn btn-dark" data-bs-dismiss="modal" v-on:click="deleteUser">yes</button>
      </div> 
    </div>
  </div>
</div>

<div v-if="message" class="alert alert-success" role="alert">
  {{ message }}
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createUserModalCenter">
  Add Data
</button>
    <div class="container">
      <div class="col-md-12">
       <br>
        <table class="table table-striped">
          <tr>
            <th>ID</th>
            <th>nama</th>
            <th>No_KTP</th>
            <th>No_Hp</th>
            <th>Biaya</th>
            <th>Alamat</th>
            <th>Action</th>
          </tr>
          <tr v-for="user in users">
            <td>{{ user.id_pemandu }}</td>
            <td>{{ user.nama }}</td>
            <td>{{ user.no_ktp }}</td>
            <td>{{ user.no_hp }}</td>
            <td>{{ user.biayajam }}</td>
            <td>{{ user.alamat }}</td>

            <td><button class="btn btn-md btn-warning " data-bs-toggle="modal" data-bs-target="#updateUserModalCenter" v-on:click="getEdit(user)">edit</button>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteUserModalCenter" v-on:click="getDelete(user)">delete </button></td>
            
        </table>

      </div>
    </div>

  </div>


  <!-- Axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        errors: [],
        users: [],
        pemanduIdEdit: null,
        userIdDelete: null,
        editMode: false,
        deleteMode: false,
        nama: '',
        no_ktp: '',
        no_hp: '',
        biayajam: '',
        alamat: '',
      },
      mounted: function () {
        this.getUser();
      },
      methods: {
        getUser() {
          axios.get('https://622369513af069a0f9a199eb.mockapi.io/AplikasiPemesananKaraoke/pemandu')
            .then(response => {
              this.users = response.data;
              console.log(response);
            })
            .catch(error => {
              console.log(error);
            });
        },
        createUser: function () {
          var createUserModalCenter = document.getElementById('createUserModalCenter')
          axios.post('https://622369513af069a0f9a199eb.mockapi.io/AplikasiPemesananKaraoke/pemandu', {       
              nama: this.nama,
              no_ktp: this.no_ktp,
              no_hp: this.no_hp,
              biayajam: this.biayajam,
              alamat: this.alamat,
                    })
            .then(response => {
                  this.getUser();
                  this.message = "Your data has been Create";    
                  this.resetForm();
                  console.log(response);
                })
                .catch(error => {
                  console.log(error);
                });

        },
        resetForm: function () {
          this.editMode = false;
          this.deleteMode = false;
          this.pemanduIdEdit = null;
          this.nama = null;
          this.no_ktp = null;
          this.no_hp = null;
          this.biayajam = null;
          this.alamat = null;

        },

        getEdit: function (user) {
          var updateUserModalCenter = document.getElementById('updateUserModalCenter');
          this.message = null;
          this.editMode = true;
          this.deleteMode = false;
          this.pemanduIdEdit = user.id_pemandu;
          this.nama = user.nama;
          this.no_ktp = user.no_ktp;
          this.no_hp = user.no_hp;
          this.alamat = user.alamat;
          this.biayajam = user.biayajam;
        },
        getDelete: function (user) {
          //Show the delete modal
          var deleteUserModalCenter = document.getElementById('deleteUserModalCenter');
          this.message = null;
          this.deleteMode = true;
          this.editMode = false;
          this.userIdDelete = user.id_pemandu;
          this.nama = user.nama;
          this.no_ktp = user.no_ktp;
          this.no_hp = user.no_hp;
          this.biayajam = user.biayajam;
          this.alamat= user.alamat;
        },
        // updateUser: function () {
        //   axios.put(`https://622369513af069a0f9a199eb.mockapi.io/AplikasiPemesananKaraoke/pemandu/${this.pemanduIdEdit}`, {
        //         nama: this.nama,
        //         no_ktp: this.no_ktp,
        //         no_hp: this.no_hp,
        //         biayajam: this.biayajam,
        //         alamat: this.alamat,
        //       })
        //     .then(res => {
        //       this.message = "Your data has been updated";
        //       var updateUserModalCenter = document.getElementById('updateUserModalCenter');
        //       this.resetForm();
        //       this.getUser();
        //     })

        //     .catch(err => {
        //       console.log(err);
        //     })
        // },

        updateUser: function () {
                axios.put(`https://622369513af069a0f9a199eb.mockapi.io/AplikasiPemesananKaraoke/pemandu/${this.pemanduIdEdit}`, {
                nama: this.nama,
                no_ktp: this.no_ktp,
                no_hp: this.no_hp,
                biayajam: this.biayajam,
                alamat: this.alamat,
                        })
                        .then(res => {
                            // handle success
                            this.message = "Your data has been updated";
                            this.getUser();
                        })
                        .catch(err => {
                            // handle error
                            console.log(err);
                        })
                },
        deleteUser: function () {
          axios.delete( `https://622369513af069a0f9a199eb.mockapi.io/AplikasiPemesananKaraoke/pemandu/${this.userIdDelete}`
            )
            .then(res => {
              this.message = "Your data has been Delete";
              var deleteUserModalCenter = document.getElementById('deleteUserModalCenter');
              this.resetForm();
              this.getUser();
            })
            .catch(err => {
              console.log(err);
            })
        }
      }
    })
  </script>
  </div>
</div>
<div class="mt-5 p-4 bg-dark text-white text-center">
  <!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">
        <!-- Section: Links -->
        <section class="mt-5">
          <!-- Grid row-->
          <div class="row text-center d-flex justify-content-center pt-5">
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="pendaftaran.html" class="text-white">Pendaftaran</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="pembayaran.html" class="text-white">Pembayaran</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="index.html" class="text-white">Pemandu</a>
              </h6>
            </div>
            
            <!-- Grid column -->
          </div>
          <!-- Grid row-->
        </section>
        <!-- Section: Links -->
  
        <hr class="my-5" />
  
        <!-- Section: Text -->
        <section class="mb-5">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <p>
                Website Ini Untuk Pemesanan / Booking karaoke
              </p>
            </div>
          </div>
        </section>
        <!-- Section: Text -->
  
        <!-- Section: Social -->
       
        <!-- Section: Social -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2022 Copyright
        <a class="text-white" href="https://mdbootstrap.com/"
           ></a
          >
      </div>
  <!-- End of .container -->
</div>

</body>
</html>
